#diapo {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    border: 10px double black;
}

#img {
    max-width: 10%;
    height: auto;
    padding-left: 45%;
}